language: python
addons:
  postgresql: "9.4"
services:
  - postgresql
python:
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev
# command to install dependencies
install:
  - "pip install -r dev-requirements.txt --upgrade"
  - ./setup.py develop
# command to run tests
script: py.test
